@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Stebra Consulting";
    List<StebraEntity> sortedEntries = AzureManager.sort();

    var result = Request["contactForm"];
    var name = Request["name"];
    var email = Request["email"];
    var comments = Request["comments"];

    if (result != null)
    {
        <div id="isPostBack" value="true">
            @Mail.Send(name, email, comments);
        </div>

    }
}



<div style="position:absolute;top:70px;">
    <div id="helper" class="glyphicon glyphicon-cog" style="display:none;font-size:50px;"></div>
    <div id="colorPicker" style="background-color:white;height:500px;width:200px;border-radius:5px;border-color:black;border:solid;display:none">
        <div style="height: 50px;position: relative;">
            <div class="chooseDivider" style="font-size:30px;border-radius:5px;border:solid;width:25px;position:absolute;top:0px;left:0px;">1</div>
            <div class="chooseDivider" style="font-size:30px;border-radius:5px;border:solid;width:25px;position:absolute;top:0px;left:50%;margin-left:-10px;">2</div>
            <div class="x" style="font-size:30px;border-radius:5px;border:solid;width:25px;position:absolute;top:0px;right:0px;">X</div>
        </div>
        <input id="customColor" type="text" name="Custom" value="Hex color">
        <input id="change" type="button" name="btn" value="Change" />
        <br />
        <div class="thisColor" style="background-color:blue">#0014FF</div>
        <div class="thisColor" style="background-color:white">#FFFFFF</div>
        <div class="thisColor" style="background-color:green">#009605</div>
        <div class="thisColor" style="background-color:black">#000000</div>
        <div class="thisColor" style="background-color:grey">#A59D9D</div>
        <div class="thisColor" style="background-color:red">#EA0000</div>
        <div class="thisColor" style="background-color:teal">#72C3B1</div>
        <div class="thisColor" style="background-color:purple">#FB1AC0</div>


    </div>
</div>


<div class="container-fluid dividers1">
    <div id="omStebra" class="container">

        <div class="container">
            <div class="col-lg-12">
                <h1>Stebra Consulting på 30 sekunder </h1>

                <p>
                    Stebra Consulting är ett IT-företag i framkant som hjälper ert företag att bli mer effektivt
                    genom att utveckla och skapa nya lösningar till er informationshantering.
                    Med över femton års konsulterfarenhet och med kunder som TV4-gruppen,
                    Pernod Ricard och Ålands kommuner i ryggen gör Stebras agila arbetssätt att vi
                    skapar värde åt ert företag redan från ert första möte med oss.
                    <br /><br />

                    <!-- glyphicon glyphicon-hand-right -->
                    <span class="glyphicon glyphicon-hand-right">
                        <a href="#kontakta" class="btn btn-default">Boka in ett möte</a>
                    </span>
                </p>

            </div>
        </div>

    </div>
</div>



<div class="container-fluid dividers2">
    <div class="container">
        <div class="col-lg-6" style="margin-bottom:30px">
            <img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/prestudy.jpg" />
            <h2 class="caption text-center">Förstudie</h2>
            <h2 class="salesTitle">Fluffiga önskemål utan konkreta planer?</h2>
            <p>
                Vi hjälper er att slå huvudet på spiken och sätta rimliga mål.
                Med hjälp av workshops och en nära kund-dialog samlar vi in, analyserar,
                specificerar och prioriterar de krav och förbättringsåtgärder just ert företag
                behöver för att starta ert projekt med den bästa förutsättningen till framgång.
            </p>
        </div>

        <div class="col-lg-6" style="margin-bottom:30px">
            <img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/Project.png" />
            <h2 class="caption text-center">Projekt</h2>
            <h2 class="salesTitle">Sitter ni i klistret eller har ni fått tuggummi under fötterna?</h2>
            <p>
                Lugn, vi fixart!
                Oavsett om ni redan har ett färdigt lösningsförslag till ert IT-projekt,
                behöver extra resurser till ett pågående projekt,
                eller vill starta upp ett helt nytt projekt från ruta ett så hjälper vi er i mål.
                Vi tar er från ax till limpa vidare till smörgåsbordet och har alltid ett helhetstänk i fokus.
            </p>
        </div>


        <div class="col-lg-6">
            <img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/maintenance.jpg" />
            <h2 class="caption text-center">Förvaltning</h2>
            <h2 class="salesTitle">Kommer ni på roligare saker att göra än att ta hand om ert IT-system?</h2>
            <p>
                Då tycker vi att ni ska fokusera på det istället och låta oss ta hand om tekniken.
                Ett förvaltningsuppdrag hos oss kan innebära att vi kontinuerligt sköter uppdateringen och vidareutvecklingen av era system.
            </p>
        </div>

        <div class="col-lg-6">
            <img class="img-circle sellText center-block" src="~/Images/SaljandeTexter/Presence.png" />
            <h2 class="caption text-center">Social närvaro</h2>
            <h2 class="salesTitle">Dags att utveckla er sociala kompetens?</h2>
            <p>
                Vi hjälper er att förbättra både era interna och externa kommunikationsvägar så att er information hamnar på rätt ställe.
                Vi kan tillexempel hjälpa er att på ett mer effektivt sätt dela information på era interna plattformar,
                eller att nå ut till era sociala medier med bara ett klick.
            </p>
        </div>

        <br><br><br>
    </div><br />
</div>

<div class="container-fluid dividers1">
    <div id="omStebra2" class="container">

        <div class="container">
            <div class="col-lg-12">
                <h1>Vad är Stebra Consulting?</h1>
                <h3>-Alltid lite bättre</h3>
                <p>
                    Vi som jobbar på Stebra Consulting brinner för det agila arbetssättet och ser regelbunden utvärdering av
                    vårt arbete som vårt främsta verktyg till att ständigt förbättra oss och våra processer.
                    Detta tillsammans med vår nyfikenhet och vår stora passion för kontinuerlig utveckling ger oss
                    möjligheten att leva och leverera vårt motto, <b>"Alltid lite bättre"</b>.
                    Tack vare vår raka kommunikation, höga transparens och nära samarbete inom vårt team och med våra kunder levererar vi lösningar av högsta kvalité,
                    samtidigt som vi har roligt på jobbet.
                    Som kund hos oss innebär Stebras agila arbetssätt att du har möjlighet att påverka ditt projekts mål och framgång under projektets gång.
                    Då världen är snabbföränderlig kan efterfrågan ibland förändras från en dag till en annan,
                    därför anpassar vi projektet efter marknadens efterfrågan och arbetar med den, istället för emot.

                    Stebra Consulting värderar:
                    <b>Samarbete, hög Kompetens, Transparens, Kvalité och Resultat</b>

                    Hos oss är individuella styrkor som bäst i ett gemensamt lagarbete.
                </p>

            </div>
        </div>

    </div>
    <br />
</div>


<div class="container-fluid dividers2">
    <div id="omStebra3" class="container">
        <div class="container">
            <div class="col-lg-12">
                <h1>Vad gör vi? </h1>
                <p>

                    Vi på Stebra Consulting levererar Moln- och Konsulttjänster inom informationshantering. Enkelt förklarat hjälper vi företag att effektivisera sin verksamhet genom förbättrade flöden inom dokumenthantering, IT-system och verksamhetsprocesser.
                    Det kan till exempel vara att leverera ett system som hanterar kundens interna dokument och öka sökbarheten, eller att skapa en plattform för kundens interna och externa kommunikation innehållande mail, chatfunktion, teamsidor och konferenssystem.

                    Teamet bakom Stebra Consulting har över femton års erfarenhet av att göra just detta. Våra kunder är allt från stora globala företag och myndigheter till mindre privatägda företag inom byggindustrin.

                    Då vi har bland marknadens bästa kompetenser inom SharePoint-lösningar och kravhantering är vi välrenommerade i branschen.
                    Vi är stolta SharePoint-partners till bland andra HiQ, Tieto och Xperta.

                </p>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid dividers1">
    <div id="nyheter" class="container">
        <!-- 1st single news -->
        <div class="col-lg-12">
            <br />
            <h2 style="color:black">Senaste nytt</h2>
        </div>
        <div class="col-lg-6 news">
            <img src="@sortedEntries[0].Image" alt="firstImage" />
        </div>
        <div class="col-lg-6">
            <h3 style="color:black">@sortedEntries[0].Title</h3>
            <p>
                @Html.Raw(sortedEntries[0].Body)
            </p>
            <span class="glyphicon glyphicon-user pull-left glyphicon-eye-open glyphicon-news"></span>
            <span class="glyphicon pull-left glyphicon-eye-open"></span>
            <a href="http://newsflashon.azurewebsites.net/">Läs Mer...</a>
            <p><i>@Html.Raw(@sortedEntries[0].Date) @Html.Raw(@sortedEntries[0].Article)</i></p>
        </div>
        <br />
        <br />
        <br /><br />
        <br />
    </div>
</div>


<div class="container-fluid dividers2">
    <div id="vilka" class="container">
        <section>
            <div class="col-lg-12">
                <br />
                <h2>Vilka är vi?</h2>
            </div>
            <br><br><br>

            <div class="col-lg-12">
                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Hans.jpg" class="img-circle person" /></div>
                    <div class="text-center">
                        <h3>Hans</h3>
                        <h4>REQB-certified SCRUM master</h4>
                        <h4>Roll i teamet: Projektledare, Scrum master, kravanalytiker</h4>
                        <p class="displaceFix">Hans Steffensson som är en av grundarna till Stebra har ett decenium av erfarenhet inom IT och vet vilka processer och verktyg som bör användas.</p>
                    </div>

                </div>

                <div class="col-lg-6" style="margin-bottom:30px">
                    <div class="text-center"><img src="~/Images/Persons/Bertil.jpg" class="img-circle person" /></div>
                    <div class="text-center">
                        <h3>Bertil</h3>
                        <h4>SharePoint, Office365 specialist</h4>
                        <h4>Roll i teamet: Arkitekt, Produktägare, informationskartläggare</h4>
                        <p class="displaceFix">Bertil Brandt som också är en av grundarna på Stebra har jobbat 16 år inom IT. Bertil är också förälskad i det agila arbetssättet, verktygen, metodiken i Scrum. </p>
                    </div>
                </div>
            </div>
                <div class="col-lg-12">
                    <div class="col-lg-6" style="margin-bottom:30px">
                        <div class="text-center"><img src="~/Images/Persons/Felix.jpg" class="img-circle person" /></div>
                        <div class="text-center">
                            <h3>Felix</h3>
                            <h4>SharePoint, Office365 Designer </h4>
                            <h4>Roll i teamet: Designer, Utvecklare frontend</h4>
                            <p class="displaceFix">Felix Freye besitter dubbel kompetens, både som fullfjädrad Industridesigner men också ett gediget utvecklarintresse som tagit honom från IOS utveckling, och appar som "Falling Monk". Nu bygger han SharePoint appar.</p>
                        </div>
                    </div>

                    <div class="col-lg-6" style="margin-bottom:30px">
                        <div class="text-center"><img src="~/Images/Persons/Simon.jpg" class="img-circle person" /></div>
                        <div class="text-center">
                            <h3>Simon</h3>
                            <h4>SharePoint, Office365 Developer </h4>
                            <h4>Roll i teamet: Utvecklare​ och KodMentor</h4>
                            <p class="displaceFix">Simon Bergqvist en av de bättre systemutvecklarna du någonsin kommer träffa på, har extremt lätt att ta till sig nya teknologier, och delar gärna med sig av sina erfarenheter. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-6" style="margin-bottom:30px">
                        <div class="text-center"><img src="~/Images/Persons/Matilda.jpg" class="img-circle person" /></div>
                        <div class="text-center">
                            <h3>Matilda</h3>
                            <h4>Agil Coach, SCRUM master  </h4>
                            <h4>Roll i teamet: Projektledare, Scrum master, koordinator</h4>
                            <p class="displaceFix">Matilda Riting har över sju års erfarenhet av ledarskap och personlig coachning. Matilda är nyfiken som person och frågar hellre en gång för mycket än en gång för lite då hon hävdar att ovisshet hämmar kreativitet. </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-center"><img src="~/Images/Persons/Alvaro.jpg" class="img-circle person" /></div>
                        <div class="text-center">
                            <h3>Alvaro</h3>
                            <h4>System arkitekt, .NET Developer </h4>
                            <h4>Roll i teamet: Arkitekt och Utvecklare</h4>
                            <p class="displaceFix">Alvaro Urbano, Gittarn med en onlinepoker-platform i ryggen, är en väldigt skicklig utvecklare och problemlösare.Han är alltid up-to-date med allt som händer i .NET-världen. </p>
                        </div>
                    </div>
                </div>


</section>

        <br><br><br>
    </div>
</div>


<div class="container-fluid dividers1 map">
    <div id="kontakta" class="container bg-grey">
        <h2>Kontaka oss</h2>
        <br>

        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-9 col-xs-12 form-group">

                <form action="~/Default.cshtml" href="#kontakta">
                    <span class="glyphicon glyphicon-user pull-left contact-glyphicon"></span>
                    <input class="form-control" id="name" name="name" placeholder="Namn" type="text" required="">



                    <span class="glyphicon glyphicon-envelope pull-left contact-glyphicon"></span>
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">

                    <span class="glyphicon glyphicon-comment pull-left contact-glyphicon"></span>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Meddelande / Lämna ditt mobilnummer om du vill bli uppringd" rows="8"></textarea><br>

                    <button id="submitMyMessage" class="btn btn-default pull-right" type="submit" name="contactForm" value="xx">Skicka till info@Stebra.se</button>
                </form>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.9054494512975!2d18.046823816071818!3d59.317835781654864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77dd51d988d1%3A0x4b91595450bc055c!2sBr%C3%A4nnkyrkagatan+95%2C+117+26+Stockholm%2C+Sverige!5e0!3m2!1ssv!2sus!4v1453905991953" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
